.logo{
    width: 45px;
    height: 40px;
}
.btn-outline-light{
    --bs-btn-hover-color: #A20715;
    --bs-btn-hover-border-color: #A20715;
}
.dropdown-menu{
    --bs-dropdown-bg:#A20715;
}
.dropdown-item:hover{
    background-color:#ffff;
    color: #A20715;
}
/*revisar*/
.img-fluid{
    height: 400px;
}

.card{
    width: 200px;
    margin: 10px;
 --bs-card-height: 380px;
}

.h{
    height: 240px;
}
/*height-niñas*/
.hn{
    height: 220px;
}
.hn2{
    height:208px;
}
/*Formulario*/
#comentarios{
    height: 100px;
}